
$btn-default: $grey;
$btn-danger: $orange;
$btn-mint: $mint;
$btn-green: $green;
$btn-purple: $purple;
$btn-red: $red;




%btn{
    display: inline-block;
    padding: 10px 25px;
    border: none;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -o-border-radius: 5px;
    -webkit-border-radius: 5px;
    cursor: pointer;
}

.btn-default{
    @extend %btn;
     background-color: $btn-default;
     &:hover{
         background-color: darken($btn-default, 10%);
     }
}
.btn-orange{
     @extend %btn;
     background-color: rgba($btn-danger, 0.4);
     &:hover{
         background-color: darken($btn-danger, 10%);
     }
     
}
.btn-mint{
     @extend %btn;
     background-color: $btn-mint;
     &:hover{
         background-color: darken($btn-mint, 10%);
     }
     
}
.btn-green{
     @extend %btn;
     background-color: $btn-green;
     &:hover{
         background-color: darken($btn-green, 10%);
     }
     
}
.btn-purple{
     @extend %btn;
     background-color: $btn-purple;
     &:hover{
         background-color: darken($btn-purple, 10%);
     }
     
}
.btn-red{
     @extend %btn;
     background-color: $btn-red;
     &:hover{
         background-color: darken($btn-red, 10%);
     }
}



