$white :#ffffff;
$black :#000000;
$purple: #df03fc;
$light-grey: #eeeeee;
$green: #32c924;
$orange: #ff7214;
$mint: #14ffb9;


$lato: 'Lato', sans-serif;
$rubik: 'Rubik', sans-serif;
$josefim: 'Josefin Sans', sans-serif;
$font-regular: 400;
$font-bold: 700;